@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #A69076, #BFB8AE);
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #403d1d7c;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #403D1D;
    text-align: center;
    text-shadow: 1px 1px 2px #403D1D;
}

h2 {
    color: #734930;
}
p {
    text-align: justify;
}